body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#ChessBoard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(8, 60px);
  grid-template-rows: repeat(8, 60px);
  gap: 0px 0px;
  justify-content: center;
  align-items: center;
  /* additional styling */
}
.cell {
  position: relative;
  width: 60px;
  height: 60px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cell::after {
  content: attr(data-notation); /* Display the notation text */
  position: absolute;
  bottom: 5px; /* Adjust position as needed */
  right: 3px; /* Adjust position as needed */
  font-size: 10px; /* Adjust font size as needed */
  color: #000000; /* Adjust text color as needed */
}
.cell img{
  width: 55px;
  height: 55px;
}