{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Chess Game</title>
    <link href="{% static '/css/board.css' %}" rel="stylesheet" />
    <style>
      body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url("{% static '/public/images/chessboardBackground.png' %}");
        background-position: absolute;
        background-position-y: -70px;
        background-position-x: -33px;
        background-size: cover;
      }
    </style>
    
  </head>

  <body>
    <div id="userData" data-username="{{ user.username }}"></div>

    <div id="chessContainer">
      <div id="engineStatus">
        <img
          src="{% static '/public/images/newlogo.png' %}"
          alt="BlueBrilliant Logo"
          class="engine-logo"
        />
        <span class="engine-name">"{{ user.username }}"</span>
        <div class="spinner" id="spinner"></div>
      </div>
      <div id="chessBoard"></div>
    </div>

    <div id="colorSelectionModal" class="modal">
      <div class="modal-content">
          <h2>Choose Your Color</h2>
          <form id="colorForm" method="POST">
              <input type="hidden" name="game_id" id="gameIdInput" value="">
              <input type="hidden" name="player_color" id="playerColorInput" value="">
              <button type="submit" id="selectWhite" data-color="white">White</button>
              <button type="submit" id="selectBlack" data-color="black">Black</button>
          </form>
      </div>
  </div>
    <div id="win-modal-container" class="modal"></div>
    <div id="lose-modal-container" class="modal"></div>
    <div id="draw-modal-container" class="modal"></div>
    <!-- <div id="fenInputContainer">
      <input
        type="text"
        id="fenInput"
        placeholder="Enter FEN string here"
        size="70"
      />
      <button onclick="applyFEN()">Go</button>
    </div> -->
    <!-- Pawn Promotion Modal -->
    <div id="promotionModal" class="modal-promote">
      <div class="modal-promote-content">
        <h3>Choose a piece for promotion:</h3>
        <button id="queenButton">Queen</button>
        <button id="rookButton">Rook</button>
        <button id="bishopButton">Bishop</button>
        <button id="knightButton">Knight</button>
      </div>
    </div>

    <input id="forfeit" type="button" value="Forfeit" />

    <div id="white-captured-pieces" class="captured-pieces-box"></div>
    <div id="black-captured-pieces" class="captured-pieces-box"></div>
    <div id="white-timer">White: 0:00</div>
    <div id="black-timer">Black: 0:00</div>
    <footer class="container-fluid text-center">
      <p>
        Developed by Alex Sherman and Dylan Zinsley
      </p>
    </footer>

    <button id="flipBoardButton" onclick="flipBoard()">Flip Board</button>

    <div id="engineThinkingOverlay"></div>

    <!--Apparently Adding scripts to the bottom of body is ideal so here it is-->
    <!-- <script src="{% static 'public/js/board_utilities/board.js' %}"></script>
    <script src="{% static 'public/js/board_utilities/setup.js' %}"></script>
    <script src="{% static 'public/js/board_utilities/utilities.js' %}"></script> -->
    <script src="{% static 'public/js/board_utilities/board.js' %}"></script>
  </body>
</html>