{% load static %}

<!DOCTYPE html>
<html>

<head>
  <link href="{% static 'public/css/userDashboard.css' %}" rel="stylesheet" />
  <style>
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-image: url("../static/public/images/userdashboardbackground.png");
      background-position: center;
      background-position-y: -70px;
      background-position-x: -33px;
      /* background-position-y: 80%;
        background-position-x: 30%; */
      background-size: cover;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
  </style>
  <title>BlueBrilliant</title>
</head>

<body>

  <div class="top-bar">
    <p id="userNameDisplay">You are logged in as: {{ user.username }}</p>
    <button id="logout-btn">Log Out</button>
  </div>
  <div id="sliding-text-box-left">
    <p id="totalPlayed"></p>
    <br />
    <p id="totalWins">{{ user.wins }}</p>
    <br />
    <p id="winRate"></p>
    
  </div>

  <div class="bottom-button-container">
    <button id="pvp">Play Online</button>
    <button id="pve">Play Against the Engine</button>
  </div>
</body>
<script>
  document.getElementById('pvp').addEventListener('click', function() {
    fetch('http://localhost:4000/create_game', {
        method: 'POST',
        // Include any needed headers, like for CSRF tokens or authentication
    })
    .then(response => response.json())
    .then(game_id => {
        // Redirect the user to the game page with the unique game ID
        window.location.href = `{% url 'game' %}?mode=online&id=${game_id}`;
    })
    .catch(error => {
        console.error('Error starting new game:', error);
    });
  });
  document.getElementById('pve').addEventListener('click', function() {
    fetch('http://localhost:4000/create_game', {
        method: 'POST',
        // Include any needed headers, like for CSRF tokens or authentication
    })
    .then(response => response.json())
    .then(game_id => {
        // Redirect the user to the game page with the unique game ID
        window.location.href = `{% url 'game' %}?mode=engine&id=${game_id}`;
    })
    .catch(error => {
        console.error('Error starting new game:', error);
    });
  });
  document.getElementById('logout-btn').addEventListener('click', function() {
    window.location.href = "{% url 'logout' %}";
  });
  </script>
</html>